<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <context:property-placeholder location="classpath:sport.properties"/>
    
    <bean id="happyFortuneService" class="course.spring.HappyFortuneService"></bean>
    <bean id="randomFortuneService" class="course.spring.RandomFortuneService"></bean>
    <bean id="myCoach" class="course.spring.TrackCoach">
        <constructor-arg ref="happyFortuneService"/>
    </bean>
    <bean id="myCricketCoach" class="course.spring.CricketCoach">
        <property name="fortuneService" ref="randomFortuneService"/>
        <property name="email" value="${foo.email}"/>
        <property name="team" value="the great team"/>
    </bean>
</beans>





